body {
    font-family: Arial, 'Helvatica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}

h1,p {
    color: #777;
    background-color: #ebebeb
}

section {
    background-color: #777;
}

.article {
    width: 495px;
}
